
<ul class='nav flex-column flex-nowrap overflow-hidden mt-4 side_Menu'>
    <li class="nav-item" routerLinkActive="active">
        <a class='nav-link' [routerLink]="['ItemType']">
            <img class="mr-2 home_icon" src="./assets/images/card.svg" alt=""> <span>أنواع الأصناف</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class='nav-link' [routerLink]="['Item']">
            <img class="mr-2 home_icon" src="./assets/images/card.svg" alt=""> <span>الأصناف</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class='nav-link' [routerLink]="['Customer']">
            <img class="mr-2 home_icon" src="./assets/images/card.svg" alt=""> <span>العملاء</span>
        </a>
    </li>


        <!-- <a class='nav-link' [routerLink]="['TestDetails/12']">
            <img class="mr-2 home_icon" src="./assets/images/card.svg" alt=""> <span>Test Routing Details</span>
        </a>
        <a class='nav-link' [routerLink]="['TestRouting']" [queryParams]="{id:2, name:'Mo'}">
            <img class="mr-2 home_icon" src="./assets/images/card.svg" alt=""> <span>Test Routing</span>
        </a>
        <a class='nav-link' [routerLink]="['TestUpdate',{id:5, name:'Mo'}]">
            <img class="mr-2 home_icon" src="./assets/images/card.svg" alt=""> <span>Test Routing Update</span>
        </a> -->
</ul>
