<div class="main_content">
  <div class="group">
    <header>
      <h4>العملاء</h4>
    </header>
    <div class="content">
      <div class="panel">
        <div class="panel_head">
          <h5>اضافة عميل جديد </h5>
        </div>
        <form [formGroup]="frmCreateCustomer" (ngSubmit)="createItem()">
          <div class="row panel_body no-gutters">
            <div class="col col-md-4 col-sm-6 col-xs-12">
              <label class="control-label" for="nameAr">الاسم عربي</label><span class="req_feild">*</span>
              <div class="input-group">
                <input type="text" formControlName="nameAr" class="form-control main_input" [class.input-validation-error]="!frmCreateCustomer.get('nameAr')?.valid && frmCreateCustomer.get('nameAr')?.touched" autofocus autocomplete="off" maxlength="150" />
              </div>
                <span class="text-danger help-block" *ngIf="frmCreateCustomer.get('nameAr')?.hasError('required') && frmCreateCustomer.get('nameAr')?.touched">ادخل الأسم عربي</span>
            </div>
            <div class="col col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">الاسم انجليزي</label><span class="req_feild">*</span>
              <div class="input-group">
                <input type="text" formControlName="nameEn" class="form-control main_input" [class.input-validation-error]="!frmCreateCustomer.get('nameEn')?.valid && frmCreateCustomer.get('nameEn')?.touched" autocomplete="off" maxlength="150" />
              </div>
              <span class="text-danger help-block" *ngIf="frmCreateCustomer.get('nameEn')?.hasError('required') && frmCreateCustomer.get('nameEn')?.touched">ادخل الأسم انجليزي</span>
            </div>
            <div class="col col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">الجوال</label><span class="req_feild">*</span>
              <div class="input-group">
                <input type="text" formControlName="mobile" (keypress)='onKeypressEvent($event)' class="form-control main_input allowOnlyNumber" [class.input-validation-error]="!frmCreateCustomer.get('mobile')?.valid && frmCreateCustomer.get('mobile')?.touched" autocomplete="off" maxlength="15" />
              </div>
              <span class="text-danger help-block" *ngIf="frmCreateCustomer.get('mobile')?.hasError('required') && frmCreateCustomer.get('mobile')?.touched">ادخل رقم الجوال</span>
            </div>
            <div class="col col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">البريد الالكتروني</label><span class="req_feild">*</span>
              <div class="input-group">
                <input type="text" formControlName="email" class="form-control main_input" [class.input-validation-error]="!frmCreateCustomer.get('email')?.valid && frmCreateCustomer.get('email')?.touched" autocomplete="off" maxlength="50" />
              </div>
                <span class="text-danger help-block" *ngIf="frmCreateCustomer.get('email')?.hasError('required') && frmCreateCustomer.get('email')?.touched">ادخل البريد الالكتروني</span>
            </div>
            <div class="col col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">فعال</label><span class="req_feild">*</span>
              <div class="input-group">
                <select class="form-control main_input" [class.input-validation-error]="!frmCreateCustomer.get('isActive')?.valid && frmCreateCustomer.get('isActive')?.touched" formControlName='isActive'>
                  <option [ngValue]="null" selected> -- اختر الفعالية -- </option>
                  <option *ngFor='let option of activeLookup' [ngValue]="option.value">{{option.text}}</option>
                </select>
              </div>
              <span class="text-danger help-block" *ngIf="frmCreateCustomer.get('isActive')?.hasError('required') && frmCreateCustomer.get('isActive')?.touched">اختر الفعالية</span>
            </div>
            <div class="col col-md-12 col-sm-12 col-xs-12">
              <label class="control-label">العنوان</label>
              <div class="input-group">
                <textarea type="text" rows="9" formControlName="address" class="form-control main_input" autocomplete="off" maxlength="1500"></textarea>
              </div>
            </div>
            <div class="col col-md-12 col-sm-12 col-xs-12">
              <div class="float-right">
                <input type="submit" class="btn theme_btn" (click)='createItem()' value="حفظ" />
                <input type="button" class="btn theme_btn info ml-2" (click)='resetForm()' value="الغاء" />
                <a class="btn theme_btn back ml-2" [routerLink]="['/AdminLayout/Customer']"> رجوع </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

