
<div class="main_wrapper">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-sm-3 left_menu">
        <aside>
          <footer class="text-center copyrights">
            <h6>الإدارة العامة لتقنية المعلومات</h6>
            <h6>جميع الحقوق محفوظة - وزارة البيئة و المياه والزراعة</h6>
          </footer>
        </aside>
      </div>
      <div class="col-sm ml-3">
        <header class="d-md-block header">
          <img class="menu_collapse" src="./assets/images/menu.png" alt="menu">
          <div class="container-fluid">
            <div class="nmc_header">
              <div class="mewa">
                <img [routerLink]="['../']" src="./assets/images/logo.svg" class="img-fluid logo" alt="Logo">
                <img src="./assets/images/vision.png" class="img-fluid vision" alt="Vision">
              </div>
              <div class="nmc">
                <img src="./assets/images/logo_client_h.png" class="img-fluid esclate-logo" alt="Complaints">
              </div>
            </div>
          </div>
        </header>
        <main class="main mt-3">
          <section class="wizard info">
            <div class="">
              <div class="row">
                <div class="col-sm-12">
                  <div class="d-flex flex-column align-items-center my-4 wrong">
                    <div class="not_found_icon mt-5">
                      <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="text-center">
                      <h2 style="color: #ca4545;">رسالة خطأ</h2>
                      <p style="color:#a94442;">الصفحة غير موجودة</p>
                    </div>
                    <a [routerLink]="['/']" class="btn theme_btn cancel mt-4">رجوع</a>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </main>
      </div>
    </div>
  </div>
</div>
