

<div class="main_content">
    <div class="group">
        <header>
            <h4>أنواع الأصناف</h4>
        </header>
        <div class="content">
            <div class="panel">
                <div class="panel_head">
                    <h5>اضافة نوع صنف جديد </h5>
                </div>

                <div class="row panel_body no-gutters">
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label">الاسم عربي</label><span class="req_feild">*</span>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="viewModel.nameAr" required id="nameAr" name="nameAr" class="form-control main_input" [ngClass]="{'input-validation-error': viewModel.nameAr === '' }" autocomplete="off" maxlength="50" />
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label">الاسم انجليزي</label><span class="req_feild">*</span>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="viewModel.nameEn" required id="nameEn" name="nameEn" class="form-control main_input" [ngClass]="{'input-validation-error': viewModel.nameEn === '' }" autocomplete="off" maxlength="50" />
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label">فعال</label><span class="req_feild">*</span>
                        <div class="input-group">
                            <select class="form-control main_input" [(ngModel)]='viewModel.isActive'>
                                <option *ngFor='let option of activeLookup' [ngValue]="option.value" [selected]="option.value == viewModel.isActive" >{{option.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-12 col-sm-12 col-xs-12">
                        <div class="float-right">
                            <button class="btn theme_btn" (click)='createItem()'>حفظ</button>
                            <button class="btn theme_btn info" (click)='clear()'>الغاء</button>
                            <a class="btn theme_btn back" [routerLink]="['/AdminLayout/ItemType']"> رجوع </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

